.homebg{
    background: url('../img/bg2.jpg') no-repeat center center fixed;
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .nav-linkcolor{
        color:#34495e !important;
    }
.navcolor
{

  background-color:  #ffee58
}


.bg-yellow {
    background-color:   #41B883 !important;
}

.nav-link{
    color:#fff !important;
    font-family: 'PT Sans Narrow', sans-serif
}
.btn-custom
{
    background-color: #ffea52 !important;
    border: 1px solid #000!important;
    color:#000;
}
.btn-policeblue{
   background-color: #41B883 !important;
   border:1px solid  #333;
}
.btn-policeblue:hover{
    background-color: #41B883 !important;

 }
 btn-policeblue:disabled{
    background-color: #dddddd !important;
    border:1px solid  #dddddd;
 }

.router-link-active{
color:34495E !important;
 }


.navbar-brandD{
    font-family: 'Sriracha', cursive;
    font-size: 28px;
    color: #fff;
    margin-left:5px;

}
.footerbg{
    background-color:   #333 !important;
}

.error_text{
color:red;
font-size:13px;
font-family: 'Sriracha', cursive;
font-weight: bold;
}

.alert-danger {
    color: #fff !important;
    background-color: #fb503b  !important;
    border-color:  #fb503b /*#34495a;*/
}

.formnamesbg{
   background-color: #34495a;
   color:#fff !important;
   font-family: 'PT Sans Narrow', sans-serif
}
