<template>

<div class="row layer" style="margin-top:20px;padding-top:10px">
<div class="col-sm-12">
<div class="row ">
      <div class="col-sm-12 text-center mt-2 mb-2 logintext" >
      <img src="img/forgot.png" > Forgot Password
      </div>
    </div>

<server-error v-if="servererror" :error="serverError" />

<div class="row">
    <div class="col-sm-6 offset-sm-3 text-left" >
     <div v-if="message" class="alert alert-danger" role="alert" >
    {{message}}
    </div>
    </div>

</div>
<div class="row" >
<div class="col-sm-4 text-right" >
        Email:
    </div>
  <div class="col-sm-8 mb-10" >

     <input type="text" class="form-control" v-model="email" style="width:60%">

  </div>
</div>
<div class="row" >
  <div class="col-sm-12  mt-2 pb-4">
  <button type="submit" class="btn btn-primary btn-block btn-policeblue"
  @click="resetpassword"
   :disabled="buttondisable"
  >Reset Password</button>
  </div>
</div>

</div>
</div>
</template>


<script>
import ServerError from './ServerError';
import axios from 'axios';
const { required,email} = require('vuelidate/lib/validators');
export default {
  name:'ForgotPassword',
  data(){
      return {
          email:null,
          servererror:0,
          serverError:null,
          message:null
          }
  },
  components: {
        'server-error': ServerError,
  },
  validations: {
    email: {
      required,
       email
    }

    },
  computed:{
      buttondisable(){
             return  this.$v.$invalid;
           }
  },
  methods:{
        resetpassword(){
            this.servererror=0;
            axios.post('/api/forgot',{email:this.email})
                .then((response) => {
                 this.message=response.data.message;
                 this.email="";
                })
                .catch((err)=>{
                this.servererror=1;
                     if(!err.response)  this.serverError=err;
                      else  this.serverError=err.response;
                 });
        }
  }
}
</script>
<style scoped>
.layer{
border:3px solid #34495E;
 background-color:#fff;

}
</style>
