<template>
 <div class="row" style="background-color:#fff; margin-top:20px">

  <div class="col-sm-12 mt-20 text-center" v-if="getUser" >
      Welcome
      <br>
      First Name:{{getUser.first_name}} Last Name:{{getUser.last_name}}
      <br>
      {{getUser.email}}

 </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    name:'Home',
    data(){
        return {user:null}
    },
   computed: {
            ...mapGetters({
                getUser: 'getUser',
            })
        },
    created(){
            let token= localStorage.getItem('token');
             if(token==null || token=="" )  this.$router.push({ name: 'login'})
            else this.$store.dispatch('fetchUser');
    },

}
</script>
