<template>
<div class="row layer" >
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 text-center mt-2 mb-2 logintext" >
      <img src="img/login.png" > Login
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12  mt-2 mb-2 logintext"  v-if="error">
        <div class="alert alert-danger" role="alert">
        {{error}}
        </div>
       </div>
    </div>

    <server-error :error="serverError" v-if="servererror"/>

    <div class="row">
        <div class="col-sm-4 text-right mt-3" >
        Email address:
        </div>
        <div class="col-sm-8 mb-3 mt-3" >
         <input type="email" class="form-control" v-model="user.email"
        style="width:60%">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-right" >
        Password:
        </div>
         <div class="col-sm-8" >
         <input type="password" class="form-control" v-model="user.password" style="width:60%">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 mt-2 pb-4">
            <button type="submit" class="btn btn-primary btn-block btn-policeblue" :disabled="buttondisable"
            @click.prevent="logmein"
            >Submit</button>

        </div>


    </div>

    <div class="row">
        <div class="col-sm-6 offset-sm-5 mt-2 pb-4">
        <router-link to="/forgot" class="nav-link nav-linkcolor" >
        <span class="nav-linkcolor">Forgot Password</span>
        </router-link>
        </div>
    </div>

  </div>


</div>

</template>



<script>
const { required, minLength,email} = require('vuelidate/lib/validators');
import axios from 'axios';
import { mapGetters } from 'vuex';
import ServerError from './ServerError';
export default {

    name:'login',
    components: {
        'server-error': ServerError,
  },
    data(){
           return {
               user:{email:null,password:null},
               servererror:0,
               error:null,
               serverError:null
               }
    },
     validations: {
user:{
        email: {
        required,
        minLength: minLength(2),
        email,
        },
        password: {
        required,
        minLength: minLength(8)
        }
    }

     },
    computed:{

            ...mapGetters({
                getUser: 'getUser',
            }),


           buttondisable(){
             return  this.$v.$invalid;
           }
  },
  methods:{
        logmein(){
                     this.servererror=0;
                axios.post('/api/login',this.user)
                .then((response) => {
                  this.error=null;

                  localStorage.setItem('token',response.data.data.token);
                  setTimeout(this.$router.push({ name: 'home'})
                      ,1000);

                }).catch((err) => {
                    this.servererror=1;
                   if(!err.response)this.serverError=err;
                   else this.serverError=err.response;
                })


        }
  }


}

</script>

<style>
.layer{
border:3px solid #34495E;
 margin-top:45px;
 background-color:#fff;

}
.logintext{
  color:#34495E !important;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:20px;

}
</style>

