<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-yellow fixed-top">
    <div class="container">

        <router-link to="/home" class="navbar-brand" >
            <span class="navbar-brandD">Laravel Passport With VueJS</span>
        </router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" v-if="!getUser">
              <router-link to="/login" class="nav-link">Login</router-link>
          </li>
          <li class="nav-item active"  v-if="getUser">
              <a href="#" class="nav-link" @click.prevent="logout" >Logout</a>
          </li>
          <li class="nav-item">
              <router-link to="/register" class="nav-link" >Register</router-link>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
export default {
    name:"Nav",
    computed:{
         ...mapGetters({
                getUser: 'getUser',
            }),
       makeActive(){
           return  this.$route.name;
       }

    },
     methods:{
           logout(){
                 axios.post('/api/logout').then((response) => {
                   console.log(response);
                   localStorage.setItem('token',"");
                   this.$store.dispatch('setUser',null);
                   setTimeout(this.$router.push({ name: 'login'})
                      ,1000);
                 })
                 .catch((err)=>{
                           console.log(err);
                 });

           }
       }
}
</script>


