<template>
<form>
<div class="row" >

<div class="col-sm-12 text-center mt-2 mb-2 logintext" >
<img src="img/register.png" > Register
</div>



<server-error :error="serverError" v-if="servererror==1"/>



<div class="col-sm-12  mt-2 mb-2 logintext" >
 <div class="error_text" v-if="$v.user.first_name.$error">First name is required.</div>
 <div class="error_text" v-if="$v.user.last_name.$error">Last name is required.</div>
  <div class="error_text" v-if="$v.user.email.$error">A valid Email is required.</div>
  <div class="error_text" v-if="$v.user.password.$error">Password must be 8 characters..</div>
  <div class="error_text" v-if="$v.user.password_confirm.$error">Password and Confrim Password must match.</div>
</div>





  <div class="col-sm-4 text-right mt-3" >
   First Name:
   </div>
  <div class="col-sm-8 mb-3 mt-3" >
    <input type="email" class="form-control"  v-model.lazy="user.first_name"
    placeholder="" style="width:60%" @blur="$v.user.first_name.$touch()">

   </div>
<div class="col-sm-4 text-right mt-3" >
   Last Name:
   </div>
  <div class="col-sm-8 mb-3 mt-3" >
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="" style="width:60%" v-model.lazy="user.last_name" @blur="$v.user.last_name.$touch()">
   </div>


  <div class="col-sm-4 text-right mt-3" >
   Email address:
   </div>
  <div class="col-sm-8 mb-3 mt-3" >
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="" style="width:60%" v-model.lazy="user.email" @blur="$v.user.email.$touch()">
   </div>

<div class="col-sm-4 text-right  mt-3" >Password:</div>
  <div class="col-sm-8" >
    <input type="password" class="form-control" id="password"  name:="password" style="width:60%"
    v-model="user.password" @blur="$v.user.password.$touch()"
    >
</div>

   <div class="col-sm-4 text-right  mt-3" >Confrim Password:</div>
  <div class="col-sm-8 mt-3" >
    <input type="password" class="form-control" id="password"  name:="password" style="width:60%"
     v-model="user.password_confirm"  @blur="$v.user.password_confirm.$touch()"
    >
   </div>



<div class="col-sm-8 offset-sm-2 mt-2 pb-4">
  <button type="submit" class="btn  btn-block btn-policeblue" @click.prevent="register"
   value="Submit" :disabled="buttondisable"
  >Register
  </button>

  </div>


</div>
</form>
</template>



<script>
const { required, minLength,email,sameAs } = require('vuelidate/lib/validators');
import axios from 'axios';
import ServerError from './ServerError';
//:disabled="buttondisable"
export default {
    name:'Register',
     components: {
        'server-error': ServerError,
  },
    data(){

        return  {
            user: {first_name:null,last_name:null,email:null,password:null,password_confirm:null},
            errors:[],
            servererror:0,
            serverError:null
          }
    },
    validations: {
    user: {
      first_name: {
      required,
      minLength: minLength(1)
    },
    last_name: {
      required,
      minLength: minLength(1)
    },
    email: {
      required,
       minLength: minLength(2)
,      email,
    },
    password: {
      required,
       minLength: minLength(8)
    },
    password_confirm: {
      required,
       minLength: minLength(8),
       sameAsPassword: sameAs('password')
    }
    },


  },
  computed:{
           errormessages(){
             return  this.errors;
           },
           buttondisable(){
             return  this.$v.$invalid;
           }
  },
  methods:{
       async register(){


                await axios.post('/api/register', this.user).then((response) => {
                   this.servererror=0;
                   console.log(response)
                  this.$router.push('Login');

                }).catch((err) => {
                    this.servererror=1;
                    if(!err.response)this.serverError=err;
                    else   this.serverError=err.response;
                })

       }
    }
}


</script>

<style>
.layer{
border:px solid #34495E;
 margin-top:45px;
 background-color:#fff;

}
.logintext{
  color:#34495E !important;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:20px;

}
</style>

