<template>
    <div class="row layer" style="margin-top:20px;padding-top:10px">
        <div class="col-sm-12">
            <div class="row">
      <div class="col-sm-12 text-center mt-2 mb-2 logintext" >
      <img src="/img/forgot.png" > Reset Password
      </div>
    </div>
  <server-error v-if="servererror" :error="serverError" />
    <div class="row">
          <div class="col-sm-12  mt-2 mb-2 logintext" >
                <div class="error_text" v-if="$v.password.$error">Password must be 8 characters.</div>
                <div class="error_text" v-if="$v.password_confirm.$error">Password and Confrim Password must match.</div>
        </div>
    </div>



            <div class="row" >
                <div class="col-sm-4 text-right" >New Password:</div>
                <div class="col-sm-8 mb-10" >
               <input type="password" class="form-control" v-model="password" style="width:60%"
               @blur="$v.password.$touch()"
               >
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-4 text-right" >Confrim New Password:</div>
                <div class="col-sm-8 mb-10" >
               <input type="password" class="form-control" v-model="password_confirm" style="width:60%"
               @blur="$v.password_confirm.$touch()"
               >
                </div>
            </div>

            <div class="row" >
                <div class="col-sm-12  mt-2 pb-4">
                    <button type="submit" class="btn btn-primary btn-block btn-policeblue"
                    @click.prevent="reset" :disabled="buttondisable"
                    >Reset Password</button>
            </div>
            </div>

          </div>

    </div>
</template>

<script>
const { required,sameAs,minLength} = require('vuelidate/lib/validators');
import axios from 'axios';
import ServerError from './ServerError';
export default {
    name:'ResetPassword',
    components: {
        'server-error': ServerError,
  },
    validations: {
    password: {
      required,
       minLength: minLength(8)
    },
    password_confirm: {
      required,
       minLength: minLength(8),
       sameAsPassword: sameAs('password')
    }
    },
    data(){
           return {password:null,password_confirm:null,
           servererror:0,serverError:null
           }
        },
        computed:{
      buttondisable(){
             return  this.$v.$invalid;
           }
        },
       methods:{
         reset(){
            axios.post('/api/reset',{
                password:this.password,
                password_confirm:this.password_confirm,
                token:this.$route.params.token

            })
            .then((response)=>{
                this.$router.push({ name: 'login'})
                console.log(response);
            }).catch((err)=>{
                this.servererror=1;
                if(!err.response)  this.serverError=err;
                else  this.serverError=err.response;
            })
        }
       }

}
</script>

<style scoped>
.layer{
border:3px solid #34495E;
 background-color:#fff;

}
</style>
