<template>
<div >
<div class="row">
  <div class="col-sm-12  mt-2 mb-2 logintext"  v-if="message">
    <div class="alert alert-danger" role="alert" >
    {{message}}
    </div>
  </div>
</div>
<div class="row"   v-if="error422">
  <div class="col-sm-12 offset-md-6 logintext "   >
    <div class="error_text " v-for="(error,index) in error422"  :key="index">{{error}}</div>
     </div>
  </div>
</div>
</template>

<script>
export default {
      name:'servererror',
      props:['error'],
      data(){
             return {
                 message:null,
                 error422:[]
                 }
      },
      created(){
         console.log(this.error);
          if(this.error==null){

              this.message="Please check your internet connection.";
          }
          else{

        let status= this.error.status;

          if(status==401)this.message="Invalid email or password";
          else if(status==404){
               let errors=this.error.data;
               const keys = Object.keys(errors)
                for (const key of keys)
                {this.error422.push(errors[key]);}
          }
          else if(status==422){
              this.message="";
              console.log("aaaa")
               console.log(this.error.data.errors.meta);
               let errors=this.error.data.errors.meta;
               const keys = Object.keys(errors)
                for (const key of keys)
                {this.error422.push(errors[key][0]);}
              }
          else if(status==500)this.message="Internal Server Error";

          }

}
}
</script>
