<template>
  <div class="container" style="background-color:#fff">
   <navigation></navigation>
  <router-view/>
  </div>
</template>

<script>

import Nav from './components/Nav';
export default {

 name: 'App',
  components: {
        'navigation': Nav,
  },


  mounted(){
      var token = localStorage.getItem('token')
      if(token!=""){
          this.$store.dispatch('fetchUser');
      }

  }
}
</script>

<style>

</style>
